<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE web-app    
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"    
"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<context-param>
		<param-name>db.conf</param-name>
		<param-value>classpath:../db.properties</param-value>
	</context-param>
	<listener>
		<listener-class>io.gxu.anymall.listener.ContextInitializer</listener-class>
	</listener>
</web-app>